/* General element */
html{
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #0B0C18;
  line-height: 1.3;
}

.board{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

p, h1, h2, h3, li, ul, ol, a, td{
  font-family: Helvetica;
}

p{
  font-size: 15px;
  color: #6F6F6F;
}

a{
  text-decoration: none;
}

/* Header + Resume + Navigation */

.headernav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  position: fixed;
  max-height: 4em;
  padding: 1em;
  position: fixed;
  align-items: center;
  background-color: #0B0C18;
  z-index: 10;
}

.nav-main-container{
  display: flex;
  flex-direction: row;
  margin-right: 3em;
  align-items: center;
  gap: 4em;
}

.navcontainer{
  width: 530px;
  display: flex;
  justify-content: space-around;
}

.navlist{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navlist-x{
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
}

.navlist-y{
  Color: #C5C5C5;
  font-size: 15px;
}

.navlist-y:hover{
  color: #45EBEB;
  font-size: 17px;
}

.resume{
  display: flex;
  width: 125px;
  color: #45EBEB;
  height: 40px;
  align-items: center;
  font-size: 20px;
  border: 2px solid #45ebeb;
  border-radius: 20px;
  justify-content: center
}

.resume:hover{
background-color: #31364B;
}

.leftnav{
  position: fixed;
  width: 40px;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 1;
}

.left-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1.6em;
}

.left-nav::after{
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: #FD8A33;
}

.fa-envelope, .fa-instagram, .fa-linkedin-in, .fa-twitter{
  color: #C5C5C5;
  font-size: 20px;
}

.fa-envelope:hover{
  color: #45EBEB;
  font-size: 30px;
  transition-duration: 300ms;
}

.fa-instagram:hover{
  color: #45EBEB;
  font-size: 30px;
  transition-duration: 300ms;
}

.fa-linkedin-in:hover{
  color: #45EBEB;
  font-size: 30px;
  transition-duration: 300ms;
}

.fa-twitter:hover{
  color: #45EBEB;
  font-size: 30px;
  transition-duration: 300ms;
}

.rightspace{
  position: fixed;
  right: 40px;
  left: auto;
  width: 40px;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1em;
}

.rs1, .rs2, .rs3, .rs4{
  content: "";
  display: block;
  width: 3px;
  margin: 0px auto;
  bottom: 0%;
}

.rs1{
  height: 25px;
  background-color: #FD8A33;
  transition-delay: 150ms;
}

.rs2{
  height: 50px;
  background-color: #FD8A33;
  transition-delay: 300ms;
}

.rs3{
  height: 100px;
  background-color: #FD8A33;
  transition-delay: 450ms;
}

.rs4{
  height: 200px;
  background-color: #FD8A33;
  transition-delay: 600ms;
}

.rightspace:hover .rs1{
 background-color: #45EBEB;
 transition-delay: 150ms;
}

.rightspace:hover .rs2{
  background-color: #45EBEB;
  transition-delay: 300ms;
}

.rightspace:hover .rs3{
  background-color: #45EBEB;
  transition-delay: 450ms;
}

.rightspace:hover .rs4{
  background-color: #45EBEB;
  transition-delay: 600ms;
}

/* Header - small screen Navigation */
.container{
  display: none;
}
.navbar{
  top: 0;
  width: 50%;
  min-height: 100vh;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 20;
  text-align: center;
}

.fa-bars{
  font-size: 40px;
  color: #FD8A33;
  top: 20px;
  right: 20px;
  position: absolute;
}

.menu{
  position: absolute;
  top: 60px;
  right: 0px;
  height: 100%;
  width: 200px;
  background: linear-gradient(#0B0C18, #31364B);
}

#menu{
  overflow: hidden;
  transition: 600ms;
  transition-duration: 600ms;
}

.menulist{
  list-style: none;
  margin-right: 30px;
}

.list{
  text-decoration: none;
  padding: 25px 0;
}

.linklist{
  color: #C5C5C5;
  text-decoration: none;
}

.resumebox{
  padding-top: 20px;
}

.resumelist{
  display: flex;
  width: 125px;
  color: #45EBEB;
  height: 40px;
  align-items: center;
  font-size: 20px;
  border: 2px solid #45ebeb;
  border-radius: 20px;
  justify-content: center
}

.resumelist:hover{
  background-color: #31364B;
}



/* Content */

/* Content - Main */

main{
  margin: 0px auto;
  max-width: 1440px;
  min-height: 100vh;
  padding: 200px 150px;
  justify-content: center;
  align-items: center;
}
 
main.fillheight{
  padding: 0px 150px;
}

section{
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
  min-width: 800px;
}

.section-title{
  display: flex;
  font-size: 30px;
  color: #FD8A33;
}

.section-title::after{
  content: "";
  display: block;
  position: relative;
  top: 20px;
  width: 500px;
  height: 1px;
  margin-left: 20px;
  background-color: #C5C5C5;
}

/* Content - 1st Section */

.section-1st{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
}

/* Content - 1st Section - Text Content */

.page-text{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 0.13rem;
}

.s1tl1{
  color: #FD8A33;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.s1tl2{
  color: #C5C5C5;
  font-size: 50px;
  margin: 0;
  padding-top: 20px;
}

.s1tl3{
  color: #45EBEB;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.s1tl4{
  margin: 0;
  padding-top: 50px;
  text-align: justify;
}

/* Content - 1st Section - Profile Picture */

.pict-cont{
  display: flex;
  position: sticky;
  max-width: 400px;
  width: 350px;
  height: 350px;
}
  
.pict-border{
  top: 30px;
  left: 30px;
  width: 300px;
  height: 300px;
  position: absolute;
  border: solid;  
  border-color: #FD8A33;
  border-width: 2px;
  border-radius: 10%;
  z-index: 1;
  transition-duration: 800ms;
}
  
.prof-pict{
  width: 300px;
  height: 300px;
  border-width: 2px;
  border-radius: 10%;
  position: relative;
  z-index: 2;
  filter: grayscale(1);
  transition: 400ms;
}
  
.pict-cont:hover .pict-border{ 
  top: 20px;
  left: 20px;
  width: 300px;
  height: 300px;
  border: solid;
  border-color: #FD8A33;
  border-width: 2px;
  border-radius: 10%;
  transition-duration: 800ms;
}
  
.pict-cont:hover .prof-pict{ 
  width: 310px;
  height: 310px;
  filter: none;
  transition-duration: 400ms;
  border: solid 2px #C5C5C5;
}

/* Content - 2nd Section */
.content-2ndSection{
  display: flex;
  flex-direction: column;
}

/* Content - 2nd Section - Title */
.text-2ndSection{
  max-width: 800px;
  padding-left: 30px;
  text-align: justify;
}

.hlght-2ndSection{
  color: #C5C5C5;
  size: 25px;
  font-weight: lighter;
}

/* Content - 2nd Section - Table */
table{
  position: relative;
  width: 100%;
  height: 100px;
  padding: 50px 50px 0px 10px;
}


td{
 width: 33%;
 text-align: center;
 color: #45EBEB;
 height: 50px;
}

.td-up{
  font-size: 40px;
}

.td-down{
  font-size: 25px;
}


/* Content - 3rd Section */

/* Content - 3rd Section - tabs*/
.experience_section{
  min-height: 400px;
}

.text-title{
  color: #C5C5C5;
  font-size: 25px;
}

ul{
  list-style: none;
}

.li-x{
  text-align: justify;
}

.ul-x .li-x::before {
  content: "▹";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  position:absolute;
  color: #45EBEB; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -2em; /* Also needed for space (tweak if needed) */
  font-size: 12px;
}

::selection{
  background: #45EBEB;
  color: #C5C5C5;
}

.tabcontent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
}

.tabcontent .list1{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}

.tabcontent .list1 label{
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #6F6F6F;
  z-index: 2;
}

#tab1:checked ~ .list1 label.label1,
#tab2:checked ~ .list1 label.label2{
  color: #C5C5C5;
}

.tabcontent .list1 label:hover{
  color: #45EBEB;
}

.tabcontent .slider{
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-left:solid 2px #45ebeb;
  transition: all 0.4s ease;
}

#tab1:checked ~ .list1 .slider{
  top: 0;
}
#tab2:checked ~ .list1 .slider{
  top: 60px;
}

.tabcontent .text-content{
  width: 80%;
  height: 100%;
}

.tabcontent .text{
  display: none;
}

.tabcontent .text {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}

.tabcontent .text p{
  text-align: justify;
}

.tabcontent .text-content{
  display: block;
}

#tab1:checked ~ .text-content .text1,
#tab2:checked ~ .text-content .text2{
  display: block;
} 

#tab2:checked ~ .text-content .text1{
  display: none;
} 

.tabcontent .input{
  display: none;
}

/* Content - 4th Section */
.container-box{
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

/* Content - 4th Section - Project Container */
.project-container{
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  height: 400px;
}

.container2{
  display: flex;
  flex-direction: row-reverse;
}

.mockup{
  margin-right: -100px;
  z-index: 1;
}

.mockup:hover{
  z-index: 3;
}

.mockup:hover .mockup-pict{
  position: relative;
  top: 0;
  transition: 600ms;
  width: 550px;
}


.reversemockup{
  margin-right: 0;
  margin-left: -100px;
}

.mockup-pict{
  width: 500px;
  top: 20px;
  position: relative;
}

.description{
  display: flex;
  flex-direction: column;
  z-index: 2;
  text-align: right;
  justify-content: start;
  height: 70%;
}

.reversedescription{
  text-align: left;
}

.p-t{
  font-size: 17px;
  color: #C5C5C5;
}

.project-desc{
  padding: 20px;
  background-color: #121324;
}

/* Content - 5th Section */
.section-5th{
  text-align: center;
}

/* Content - 5th Section - Title */
.contact{
  font-size: 40px;
  color: #45EBEB;
}

.contact-2{
  font-size: 17px;
  color: #C5C5C5;
}

.contact-3{
  margin: 5px 0;
}

.button-cont{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.button-frame{
  display: flex;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  border: 1px solid #FD8A33;
  align-items: center;
  justify-content: center;
}

.contact-button{
  color: #FD8A33;
  font-size: 25px;
}

.button-frame:hover{
background-color: #31364B;
}

/* Footer */
footer{
  text-align: center;
}

/* Media Query */
@media all and (max-width:1150px) {
  .rightspace{
    left: auto;
    right: 20px;
  }
}

@media all and (max-width:1080px){
  main.fillheight{
    padding: 0px 100px;
  }

  .leftnav{
    left: 20px;
    right: auto;
  }

  .rightspace{
    display: none;
  }
}

@media all and (max-width:780px){
  .headernav{
    position: fixed;
  }
  .container{
    display: block;
  }
  .navigation{
    display: none;
  }
  main.fillheight{
    padding: 0px 50px;
  }
  .leftnav{
    display: none;
  }
  section{
    margin: 0px auto;
    padding: 70px 0px;
    max-width: 400px;
  }
  .section-title{
    font-size: 25px;
  }
  .section-1st{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 150px;
    gap: 2em;
  }
  .page-text{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 0.13rem;
  }
  .s1tl1{
    color: #FD8A33;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  .s1tl2{
    color: #C5C5C5;
    font-size: 35px;
    margin: 0;
    padding-top: 10px;
  }
  .s1tl3{
    color: #6F6F6F;
    font-size: 25px;
    margin: 0;
    padding: 0;
  }
  .s1tl4{
    color: #6F6F6F;
    font-size: 12px;
    margin: 0;
    padding-top: 25px;
  }
  .pict-cont{
    max-width: 300px;
    width: 250px;
    height: 250px;
  }
  .pict-border{
    top: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
  }
  .prof-pict{
    width: 200px;
    height: 200px;
  }
  .pict-cont:hover .pict-border{ 
    top: 10px;
    left: 10px;
    width: 210px;
    height: 210px;
  }
  .pict-cont:hover .prof-pict{ 
    width: 210px;
    height: 210px;
  }
  p{
    font-size: 12px;
    color: #6F6F6F;
  }
  .text-2ndSection{
    max-width: 600px;
  }
  .hlght-2ndSection{
    size: 15px;
  }
  .td-up{
    font-size: 35px;
  }
  .td-down{
    font-size: 20px;
  }

  .tabcontent{
  max-width: 600px;
  }
  .text-title{
    font-size: 19px;
  }
  .project-container{
    max-width: 600px;
  }
  .mockup-pict{
    width: 400px;
  }
  .p-t{
    font-size: 15px;
  }
  .contact{
    font-size: 30px;
  }
  .contact-2{
    font-size: 15px;
  }
  footer{
    right: 0;
    width: 118%;
    text-align: center;
  }
}

@media all and (max-width:480px) {
  main.fillheight{
    padding: 0px 25px;
  }
  footer{
    width: 262%;
  }
}

@media all and (max-width:480px){}

@media all and (max-width:350px){}